/****************************
*
* Header Styles
*
*****************************/
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header span{
  font-size: 16px;
  padding-right: 5px;
}
.header-link-text >a{
  text-decoration: underline;
  color: #37CFA2;
}
.header img{
  padding-right: 5px;
}

/********************************
*
* Navbar Styles
*
********************************/

.green-navbar{
  background:#37CFA2 !important;
}

.navbar-right{
  display: block;
  float: right;
  justify-content: center!important;
  align-items: center !important;
  font-size: 16px;
}
.nav-slack-btn{
  height: 40px;
}
.navbar-right>li>a{
  color: white !important;
  line-height: 3;
}
.navbar-brand{
  display: block;;
  justify-content: center;
  align-items: center;
}
.navbar-brand img{
  height: 40px;
}
.navbar-toggle{
  background-color: transparent !important; 
  float: right;
  border-color:transparent !important;
}
.icon-bar{
  background-color: white !important;
}


/***************************
*
* Owl Carousel Styles
*
***************************/

.home-clients h2 {
  margin: 0 0 3.75em;
}

.owl-carousel .owl-item {
  display: flex;
  align-items: center;
  height: 65px;
}

.owl-carousel .owl-item img {
  display: block;
  margin: 0 auto;
  width: auto !important;
  max-width: 100%;
  vertical-align: middle;
}

.home-clients .logo-flat {
  height: 36px;
}

.home-clients .logo-round {
  height: 65px;
}



/***************************
*
* Footer Styles
*
***************************/

/* Headers */
.footer-nav-title {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: .9375em;
  margin-top: 0;
}

@media (min-width: 768px) {
  .footer-nav-title {
    margin-bottom: 1.875em;
  }
}


/* General List */
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list li:first-child {
  margin-top: 0;
}

.footer-list li {
  margin-top: .625em;
}

.footer-list li a {
  color: #86939e;
  display: inline-block;
  font-size: 16px;
  line-height: 1.56;
}

.footer-list li a,
.footer-nav-share img {
  transition: all .5s ease-in-out;
}

/* Social */
.footer-nav-share a:first-child {
  margin-left: 0;
}

.footer-nav-share a {
  display: inline-block;
  margin-left: 1.5625em;
}

.footer-nav-share img {
  height: 1.25em;
  max-width: 100%;
}

/* Mentions */
.footer-mentions {
  margin-top: 2.5em;
}

.footer-mentions .footer-algolia {
  float: left;
  margin-bottom: 1.25em;
}

.footer-algolia,
.footer-copyright {
  color: #86939e;
  display: inline-block;
  font-size: .875em;
}

.footer-mentions .footer-algolia img {
  height: 1.125em;
}

.footer-mentions .footer-copyright {
  float: right;
}

/* Disclaimer */
.footer-slack-disclamer {
  margin-top: 6.25em;
  color: #86939e;
  font-size: .9375em;
}